
script
    include control.js
include nav.pug

section.hero(id="admin")
    div.hero-body
        h1.title.is-family-secondary.has-text-centered Guest Info
        div.container(id="guests")

            

