div.columns(id="travel-details-"+family.id)
	div.column
		div.field
			div.control
				input(id="arrival-" + family.id type="hidden" value=family.arrival)
				div.label Travel Plans
				input.input.stay-duration(id="cal-arrival-" + family.id data-display-mode="inline" data-familyid=family.id data-color="dark" type="date" readonly)
	div.column
		div.contanter
			div.content
				div.label Accomodations
				p #{family.accomodations}
