include nav.pug

section.hero(id="schedule")
    div.hero-body
        h1.title.is-family-secondary.has-text-centered Friday, October 18
        table.table.is-striped.is-fullwidth
            thead
                tr
                    th Time
                    th Event
            tbody
                tr
                    td 12:30pm
                    td Ceremony 
                        br 
                        a(href="https://goo.gl/maps/TpNZgUkVoQVzjUUP7") St. Stanislaus Kostka Church
                tr
                    td 1:45pm
                    td Pleae join us for a group photo on the steps outside the church!
                tr
                    td 6:30pm
                    td Cocktail Hour
                        br
                        a(href="https://goo.gl/maps/uiPwd9ASx2cYrqvg8") The Lily Pond Terrace at Brooklyn Botanic Garden 
                tr
                    td 7:30pm
                    td Reception 
                        br
                        a(hre="https://goo.gl/maps/uiPwd9ASx2cYrqvg8") The Palm House at Brooklyn Botanic Garden
                tr
                    td 12:00am 
                    td After Party
                        p Details are forthcoming
        h1.title.is-family-secondary.has-text-centered Saturday, October 19
        table.table.is-striped.is-fullwidth
            thead
                tr
                    th Time
                    th Event
            tbody
                tr
                    td 10:00am
                    td Post-Wedding Brunch 
                        p Details are forthcoming

        


