include nav.pug

section.hero(id="schedule")
    div.hero-body
        h1.title.is-family-secondary.has-text-centered Wedding Schedule
        table.table.is-striped.is-fullwidth
            thead
                tr
                    th Time
                    th Event
            tbody
                tr
                    td 12:30pm
                    td Ceremony Starts
                tr
                    td 2:00pm
                    td Ceremony Ends
                tr
                    td 2:05pm
                    td Group photo on the stairs outside the church.  All are encourage to join! 
                tr
                    td 2:15pm
                    td Family photos, all other guests are free to relax and enjoy the afternoon.
        


