div.containter
	div.notification.is-danger
		p 
		| Uh oh! something went wrong! Try reloading the page or 
		a(href="mailto:hello@michaelandkatiemarie.nyc") let michael know something went wrong
		| 
		| Thank you for your patience. :)

