div.containter
	div.content
		p 
		| Uh oh! something went wrong! Please check back later or 
		a(href="mailto:hello@michaelandkatiemarie.nyc") let michael know
		| 
		| Thank you for your patience. :)

