html
    head
        title Request to register
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

    body.container
        div.page-header
            h1 Hmm we don't seem to have you on our list

        nav.navbar.navbar-default
            nav.container-fluid
                nav#bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/login") Log In 
                        li
                            a(href="/logout") Log Out

        div.container.row
            div.jumbotron.col-sm-4.pull-center
                if sent
                    p Thank you! We will get back to you shortly.
                else
                    p Something went wrong and we don't have #{email} registered. Please send this request to get this email added to your guest registration. 
                    form(action="/request" method="post")
                        div
                            label #{email}
                            input(type="hidden" name="email" value=email)
                        div
                            label Your Name:
                            input(type="text" name="name")
                        div
                            input.btn.btn-primary(type="submit" value="Send")
