doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Test Page
        link(rel="stylesheet" href="css/style.css")
        script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    body
        section.section
            h1.title Bulma
            p.subtitle
                | Modern CSS framework based on 
                a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox") Flexbox
            div.field
                div.control
                    input.input(type="text" placeholder="Input...")

            div.field
                p.control
                    span.select
                        select
                            option Select dropdown
            div.buttons
                a.button.is-primary primary
                a.button.is-link link
            

