section.section(id="about")
	div.content
		div.title.is-4.has-text-centered 
			em For anyone who doubts the effectiveness of online dating, have we got a story for you....		

		p Michael coolly hit me up on OKCupid with an aloof "Hi 👋."	

		p I was digesting my 3rd helping of pie on Thanksgiving when the message popped up.  I had just gotten back onto OKCupid earlier that week, so I wasn't in full beast-mode yet.  I was mostly in voyeur mode.  But... he had kind eyes, we were a 97% match, and there was a photo of him jumping off a Roman Aquaduct, so I figured, why not?								
		p On December 9th, 2015, we met up at the "Kiss & Tell" entrance to the Union Square Holiday Market.  To help me find him, Michael texted me to let me know that he was "Wearing a marroon jacket" and "kinda beardy" - a message that he CLEARLY pre-composed earlier that day.	

		p I'm gonna be honest here, our first meeting was a little forced, as most semi-blind, online dating situations are, but we managed to find common ground in that we both attended Tisch at NYU (I as an undergrad, he as a post-grad) and we had both lived in LA.		

		p After walking around the holiday market for about an hour, we posted up at Pete's Tavern for hot toddies.  We would have stayed there all night, but I had to rush off to another date I had planned.  I know, I know... Not my finest moment, but how was I supposed to know this guy would be my future husband???  It might have all ended there, but the following morning, I received a text from Michael asking to hang out again the following weekend.  As this was just Monday morning, I was surprised and flattered by his eagerness to set another date.								

		p We met up the following week for a late dinner at 5 Leaves.  Unsurprisingly, I was 45 minutes late.  Michael was extremely kind about my tardiness, and it showed me how patient Michael is -- a virtue I knew a man would need plenty of if he were to have any shot of loving me.  We shared our first kiss that evening while eating my homemade Christmas cookies among my moving boxes in my brand new apartment on Morgan Ave.

		p Six weeks later, when Michael returned from CES, a bachelor/ette party in Miami, a wedding in Mexico, and some home time in Phoenix, he came over to my (now furnished) apartment for dim sum.  We ended up hanging out for 5 days straight until I had to leave for a job in LA.  I got back from the LA job and Michael left for Barcelona 2 days later.  Again, we spent 2 whole days hanging out and we began to realize that this could be more than just casual dating.  We called these encounters "Hyper Hangs" as we were constantly out of town and had to see eachother as much as we could when we were lucky enough to both be in Brooklyn at the same time.  While Michael was in Barcelona, I left town again for another job in LA.  With all our travel, it's lucky we were able to date at all, but we found ways to stay connected.  We were both going to be around the first week of March and decided to plan a trip somewhere to really put our budding relationship to the test.	

		p We landed in the Bahamas and after 5 days of sharing a 180 square foot hut (with practically no privacy, I might add) we were both falling in love.	

		p Michael first told me he loved me at his parents' condo in Carlsbad after spending a fun wedding weekend in Joshua Tree, watching our friends Dan & Laura get married.		

		p Each day since then has brought new joy, adventures, love, and challenges.  I wouldn't trade a second of it and I'm so looking forward to all the new days ahead.  I love this guy and I can't wait to marry him.								