section.hero.is-dark(id="city")
	div.hero-body
		div.columns
			div.column
				div.notification.is-fullwidth.is-light
					p.subtitle.has-text-dark.is-family-secondary The Fun Stuff
					ul
						li Broadway - TodayTix App
						li Central Park
							ul
								li Central Park Zoo
								li Sheep's Meadow 
								li Strawberry Fields 
								li The Great Lawn
								li The Boathouse
								li Tavern on the Green
						li Brooklyn Bowl
						li Brooklyn Brewery
						li Museums 
							ul
								li The MOMA
								li The Met
								li The Guggenheim
								li The Whitney

			div.column
				div.notification.is-fullwidth.is-light
					p.subtitle.has-text-dark.is-family-secondary Uh-mazing Food Culture
					p <strong>Our Williamburg favoirtes:</strong>
					br
					ul 
						li BEST Pizza (Pizza, NY slice style)
						li Paulie Gee's (Pizza, Neopolitan Style)
						li Birds of a Feather (Sezchuan)
						li Frankels (Jewish Deli)
						li 5 Leaves (Gastropub)
						li Caracas (Venuzuelan Arepas)
						li Fiore (Italian)
						li Dokebi (Korean)
						li Lilia (Italian)
					br
					p <strong>Other great spots:</strong>
					br
					ul
						li Xi'an Famous Foods (Chinese Noodles)
						li Hot Kitchen (Sezchuan), 
						li BDC Tofuhouse (Korean), 
						li Ippudo (Japanese, Ramen)
						li Walter Foods (Gastro Pub)
						li Cafe Collete (Gastropub)
						li Krolewskie Jadlo (Polish)
						li Cafe Mogador (Moroccan) 
						li Saigon Market (Vietnamese)
						li Becco (Italian) 
						li Ferreras (Italian Desserts)
						li Aunt Jake's (Italian)
						li Jin Fong's (Chinese Dim Sum)
						li Patsy's (Italian)
						li Beco (Brazilian)
						li Kings County Imperial (Chinese)
						li Calexico (American/Mexican)
						li Nam Nam (Vietnemese Bahn Mi)
						li Fette Sau (BBQ)
						li Zizi Limona (Middle Eastern)
						li Oasis (Middle Eastern)
						li Alsswell (Gastro Pub)
						li Blue Collar (Hamburgers)
						li El Tenampa (LA-style Mexican)
						li Rosie's (Mexican)
						li Marlow & Sons (Gastro Pub)
						li Jimmy's Diner (Southern/Diner)
						li Eataly (Various, Italian)
						li Bagelsmith (Breakfast)
						li Fushimi (Kitchy Sushi).
			div.column
				div.notification.is-fullwidth.is-light
					p.subtitle.has-text-dark.is-family-secondary Our Favorite Bars
					ul
						li Surf Bar
						li Night of Joy
						li Noorman's Kil 
						li Irene's Capri Social Club
						li Night of Joy
						li Berry Park
						li The Counting Room
						li Spritzenhaus33
						li Mother of Pearl
						li Brooklyn Barge
						li Broken Land
						li Hotel Delmano
						li Black Flamingo
						li Spuyten Duyvil
						li Teddy's
						li The Richardson
						li The Drift
						li Lake Street Bar
						li Goldie's