if user.family.plusone && user.guest == null
	br
	div.columns(id="plusone-question")
		div.column
			label.label.is-family-vtks Will you be bringing a guest?
		div.column
			button.button.is-dark.is-outlined.is-family-vtks(id="plusone-yes" onclick="plusone("+user.family.id +", 'yes', "+user.rehearsal+", true)") Yes
		div.column
			button.button.is-dark.is-outlined.is-family-vtks(id="plusone-no" onclick="plusone("+user.family.id +", 'no', "+user.rehearsal+", true)") No
else if user.family.plusone && user.guest.rsvp != "no" 
	br
	div.is-divider.is-family-vtks.has-text-dark(id="plusone-divider" data-content="Guest")
	br
	div.field.is-horizontal(id="plusone-info")
		div.field-label
			div.label.is-family-vtks Name
		div.field-body
			div.field.is-grouped
				div.control
					input.input(id="plusone-firstname" type="text" placeholder="First" onchange="showSendButton()" value=user.guest.firstname)
				div.control
					input.input(id="plusone-lastname" type="text" placeholder="Last" onchange="showSendButton()" value=user.guest.lastname)
	div.field.is-horizontal(id="plusone-allergies-field")
		div.field-label.label.is-family-vtks.help Food Allergies
		div.field-body
			div.field
				div.control
					input.input.is-small.allergies(id="plusone-allergies" type="text" placeholder="Allergies or dietary restrictions." value=user.guest.allergies onchange="showSendButton()")
	br
else if user.family.plusone && user.guest.rsvp == "no"
	br
	div.columns(id="plusone-question")
		div.column
			label.label.is-family-vtks Will you be bringing a guest?
		div.column
			button.button.is-dark.is-outlined.is-family-vtks(id="plusone-yes" onclick="plusone("+user.family.id +", 'yes', "+user.rehearsal+", false)") Yes
		div.column
			button.button.is-dark.is-family-vtks(id="plusone-no" disabled) No
