section.hero.is-dark(id="registry")
    div.hero-body
        div.container.has-text-centered
            h1.title.is-family-secondary Registry
            div.columns
                div.column
                    a(
                    target="_blank"
                    href="https://www.zola.com/registry/katiemarieandmichael/"
                    ) 
                        div.box.image.is-rounded
                            img(src="images/zola.jpeg")
                div.column
                    a(
                    target="_blank"
                    href="https://www.bloomingdales.com/registry/wedding/guest/?perfectProxy=true&registryId=7022430"
                    ) 
                        div.box.image.is-rounded
                            img(src="images/bloomingdales.jpeg")
