section.section(id="rsvp")
	h1.title Your RSVP
	div.content
		div.box
			div.title.is-3.is-family-secondary #{user.firstname} #{user.lastname}
			div.columns.has-text-centered
				div.column
					button.button.is-primary.is-fullwidth.is-large(id="rsvp-yes-" + user.id onclick="rsvpYes(" + user.id + ")") I'll be there
				div.column
					button.button.is-danger.is-fullwidth.is-large(id="rsvp-no-" + user.id onclick="rsvpNo(" + user.id + ")") Regrets
		each member in user.family_members
			div.box
				div.title.is-family-secondary.is-3 #{member.firstname} #{member.lastname}
				div.columns.has-text-centered
					div.column
						button.button.is-primary.is-fullwidth.is-large(id="rsvp-yes-" + user.id onclick="rsvpYes(" + member.id + ")") I'll be there
					div.column
						button.button.is-danger.is-fullwidth.is-large(id="rsvp-no-" + user.id onclick="rsvpNo(" + member.id + ")") Regrets
