section.hero.is-fullheight(id="top")
	div.hero-body
		div.container.has-text-centered.is-overlay
			h1.title.is-family-secondary.is-size-1.is-size-2-mobile Michael & KatieMarie
			div.subtitle.is-family-secondary.is-size-2.is-size-3-mobile 
				| October 18, 2019
				br
				
			div.subtitle.is-family-secondary.is-size-3.is-size-4-mobile.is-italic.has-text-info 
				| Brooklyn, NY · 
				span.has-text-danger #theallisonsofbrooklyn   
			div.container(id="countdown-container")
				span.has-text-info(id="countdown")
				script
					include countdown.js