section.hero.is-dark(id="air-travel")
	div.hero-body
		h3.is-size-3.title.is-family-secondary.has-text-centered Air Travel
		div.media
			figure.media-left
				figure.image.is-64x64
					img(src="images/lga.png")
			div.media-content
				h4.is-size-4.subtitle.is-family-secondary Laguardia Airport
				p Laguardia Airport is the closest airport to North Brooklyn, but they don't have as many flight options as other NYC airports.  It's about 20 minutes from LGA to Williamsburg by car.  There isn't convenient public transportation available from/to LGA.
		div.media
			figure.media-left
				figure.image.is-64x64
					img(src="images/jfk.jpg")
			div.media-content
				h4.is-size-4.subtitle.is-family-secondary John F. Kennedy International Airport
				p JFK has a multitude of flight options, but it's farther away from North Brooklyn.  It's about 35-40 minutes from JFK to Williamsburg by car.  There is a great AirTrain you can take to JFK which takes about an hour from Williamsburg and is much more cost effective than taking a cab or Uber if you have the time.
		div.media
			figure.media-left
				figure.image.is-64x64
					img(src="images/ewr.png")
			div.media-content
				h4.is-size-4.subtitle.is-family-secondary Newark Liberty International Airport
				p Newark (EWR) is an extremely convenient airport if you are planning to stay in Manhattan.  There's a very cheap & convenient AirTrain that connects with NJ Transit to drop you in Penn Station.  It only takes about 30 minutes extra travel time to get to Manhattan from EWR.  If you are planning on staying in Brooklyn, one of the other airports will be more convenient.

section.hero.is-info(id="transpo")
	div.hero-body
		h3.is-size-3.title.is-family-secondary.has-text-centered Getting Around NYC
		p We suggest taking the subway as often as possible.  It's cost effective and a huge time saver.  Weekly unlimited metro passes are strongly encouraged for guests staying 3+ days in NYC.  <strong>The 7-day unlimited card costs $32</strong> and also gives you access to NYC buses.  <strong>A single ride on the subway costs $2.75</strong>. Google Maps is fully integrated into MTA's subway system and schedule and can give you detailed directions from one point to another.  <strong>Please note:</strong> You cannot use an unlimited MetroCard on the JFK AirTrain, it always costs $5 extra.
		div.columns.is-mobile
			div.column.is-half
				a( target="_blank" href="https://goo.gl/maps/w5pQviJXWoR2")
					figure.image.is-128x128.is-pulled-right
						img.is-rounded(src="https://pbs.twimg.com/profile_images/608823025958436864/tYgpmSNb.jpg")
			div.column.is-half
				a( target="_blank" href="http://www.mta.info/")
					figure.image.is-128x128.is-pulled-left
						img.is-rounded(src="https://thumbor.forbes.com/thumbor/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fi.forbesimg.com%2Fmedia%2Flists%2Fcompanies%2Fmetropolitan-transportation-authority-mta_416x416.jpg")