section.hero(id="wedding")
    div.hero-body
        div.container.has-text-centered
            //h1.title.is-family-secondary Wedding
            div.columns
                div.column.has-text-centered
                    div.notification.is-info
                        p.is-size-4.is-family-secondary Ceremony
                        p Stay tuned for more info...

                div.column.has-text-centered
                    div.notification.is-info
                        p.is-size-4.is-family-secondary Reception
                        p 
                            a(
                            target="_blank"
                            href="https://www.bbg.org/"
                            ) Brooklyn Botanic Garden Palm House
                        p.is-bold Cocktail hour 6:30pm reception to follow
                        div.containter
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.333709337337!2d-73.96416888459642!3d40.666615579336906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b0cf35b295d%3A0xfb26fbcafb28b92d!2sPalm+House%2C+1000+Washington+Ave%2C+Brooklyn%2C+NY+11225!5e0!3m2!1sen!2sus!4v1551575768191" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
                        p Stay tuned for more info...

            div.columns
                div.column.has-text-centered
                    div.notification.is-info
                        p.is-size-4.is-family-secondary Afterparty
                        p Midnight - 3am (ish)
                        p Williamsburg, Brooklyn
                        p Stay tuned for more info...

                div.column.has-text-centered
                    div.notification.is-info
                        p.is-size-4.is-family-secondary Saturday Brunch
                        p Stay tuned for more info...
