section.hero(id="mainevents")
    div.hero-body
        div.container.has-text-centered
            h1.title.is-family-secondary The Main Events
            div.columns
                div.column.has-text-centered
                    div.notification.is-dark
                        p.is-size-4.is-family-secondary Ceremony
                        p St. Stanislaus-Kostka Church
                        p 607 Humboldt St, Brooklyn, NY 11222
                        p.is-bold Ceremony begins at 12:30pm
                        div.containter
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.7937099110045!2d-73.94732544967263!3d40.722557544806286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2594f06eb930f%3A0xea92d29a84a70bb2!2sSaint%20Stanislaus%20Kostka%20Church!5e0!3m2!1sen!2sus!4v1570799268367!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="")

                div.column.has-text-centered
                    div.notification.is-dark
                        p.is-size-4.is-family-secondary Reception
                        p 
                            a(
                            target="_blank"
                            href="https://www.bbg.org/"
                            ) Brooklyn Botanic Garden Palm House
                        p 1000 Washington Ave, Brooklyn, NY 11225
                        p.is-bold Cocktail hour 6:30pm reception to follow
                        div.containter
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.333709337337!2d-73.96416888459642!3d40.666615579336906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b0cf35b295d%3A0xfb26fbcafb28b92d!2sPalm+House%2C+1000+Washington+Ave%2C+Brooklyn%2C+NY+11225!5e0!3m2!1sen!2sus!4v1551575768191" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)

            div.columns
                div.column.has-text-centered
                    div.notification.is-dark
                        p.is-size-4.is-family-secondary Afterparty
                        p The Gutter - Bar & Bowling Alley
                        p 200 N 14th St, Brooklyn, NY 11249
                        p.is-bold 12:30am - 4am Pins, Pitchers, and Pizza!
                        div.containter
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.7918291100837!2d-73.95762414967264!3d40.72259894480372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259433e189c85%3A0x6ac76a024af4bae5!2sThe%20Gutter!5e0!3m2!1sen!2sus!4v1570799500675!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="") 

                div.column.has-text-centered
                    div.notification.is-dark
                        p.is-size-4.is-family-secondary Saturday Brunch
                        p The Gorczynskis' AirBnB
                        p 142 N 7th Street, Brooklyn, NY 11249
                        p Revolving door, casual brunch. 
                        p Stop by between 10am & 1pm 
                        div.containter
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.989995061757!2d-73.96083924967273!3d40.71823674507056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2595ded3fb389%3A0x2e8ba8eb6f5c64b8!2s142%20N%207th%20St%2C%20Brooklyn%2C%20NY%2011249!5e0!3m2!1sen!2sus!4v1570800122299!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="")
