section.hero.is-fullheight.is-primary(id="hero-body")
    div.hero-body
        div.container.box.has-text-dark(id="login-container")
            h1.title.is-family-secondary.is-1.is-size-2-mobile.has-text-dark Michael & KatieMarie
            if user.state === "requestaccess"
                include request_to_register.pug
            else if user.state === "register"
                include register.pug
            else if user.state === "createpass"
                include create_pass.pug
            else
                include login.pug
    script
        include control.js