script
	include control.js
include nav.pug

include sections/top.pug
include sections/wedding.pug
//include sections/RSVP.pug
include sections/photos.pug
include sections/accomodations.pug
include sections/travel.pug
include sections/registry.pug
