include nav.pug

section.hero(id="faq")
    div.hero-body
        h1.title.is-family-secondary.has-text-centered Frequently Asked Questions
        div.columns
            div.column.is-one-fifth
                aside.menu
                    p.menu-label Questions
                    ul.menu-list
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
                        li
                            a(href="#") What about this?
            div.column.is-four-fifths
                div.card(id="")
                    header.card-header
                        p.card-header-title.is-family-secondary Q: What about this?
                    div.card-content
                        div.content 
                            span.is-family-secondary.is-size-4 A: 
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod venenatis nulla, auctor molestie ipsum tincidunt quis. Proin pulvinar faucibus vehicula. Nunc eros lorem, laoreet ut dolor vel, venenatis eleifend lorem. Fusce sed pretium eros. Duis sodales, quam in placerat congue, lorem elit gravida diam, interdum pretium libero nisi sed lacus. Nulla at quam hendrerit, egestas augue a, dapibus risus. Mauris nibh mauris, maximus in est ac, ultricies elementum sem.
                div.card(id="")
                    header.card-header
                        p.card-header-title.is-family-secondary Q: What about this?
                    div.card-content
                        div.content 
                            span.is-family-secondary.is-size-4 A: 
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod venenatis nulla, auctor molestie ipsum tincidunt quis. Proin pulvinar faucibus vehicula. Nunc eros lorem, laoreet ut dolor vel, venenatis eleifend lorem. Fusce sed pretium eros. Duis sodales, quam in placerat congue, lorem elit gravida diam, interdum pretium libero nisi sed lacus. Nulla at quam hendrerit, egestas augue a, dapibus risus. Mauris nibh mauris, maximus in est ac, ultricies elementum sem.
                div.card(id="")
                    header.card-header
                        p.card-header-title.is-family-secondary Q: What about this?
                    div.card-content
                        div.content 
                            span.is-family-secondary.is-size-4 A: 
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod venenatis nulla, auctor molestie ipsum tincidunt quis. Proin pulvinar faucibus vehicula. Nunc eros lorem, laoreet ut dolor vel, venenatis eleifend lorem. Fusce sed pretium eros. Duis sodales, quam in placerat congue, lorem elit gravida diam, interdum pretium libero nisi sed lacus. Nulla at quam hendrerit, egestas augue a, dapibus risus. Mauris nibh mauris, maximus in est ac, ultricies elementum sem.
                div.card(id="")
                    header.card-header
                        p.card-header-title.is-family-secondary Q: What about this?
                    div.card-content
                        div.content 
                            span.is-family-secondary.is-size-4 A: 
                            span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod venenatis nulla, auctor molestie ipsum tincidunt quis. Proin pulvinar faucibus vehicula. Nunc eros lorem, laoreet ut dolor vel, venenatis eleifend lorem. Fusce sed pretium eros. Duis sodales, quam in placerat congue, lorem elit gravida diam, interdum pretium libero nisi sed lacus. Nulla at quam hendrerit, egestas augue a, dapibus risus. Mauris nibh mauris, maximus in est ac, ultricies elementum sem.


