include nav.pug

section.hero(id="faq")
    div.hero-body
        h1.title.is-family-secondary.has-text-centered Frequently Asked Questions
        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: What is the Dress Code?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                     
                    span The dress code is Black Tie.  Our theme is "Old New York" so be sure to bring out your most classic, fabulous and chic attire and accessories.

                    p If guests wish, they may wear cocktail attire to the ceremony and use the down time between the ceremony and cocktail hour to change into their formal wear.  When it doubt, dress it up!  You can never be over dressed!

                    p For gentlemen, please wear a tuxedo and dress shoes.

                    p For ladies, please floor length gown, jumpsuit or suit and dress shoes.  Ladies are not required to wear heels.

                    p No sneakers and no white gowns or tuxedos, please.

                    p Don't have formalwear?

                    p Ladies can 
                        a(href="https://rtr.app.link/e/CiIwp43NbV") RENT THE RUNWAY
                    p Gentlemen can find the perfect 
                        a(href="https://theblacktux.com/") BLACK TUX

        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: What's the weather like in NYC in October?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span The average high/low for our wedding date is 65°/51°.  It's beautiful and a prime time to view the autumn foliage.  For a report on the foliage, you can go to  
                    a(href="https://www.iloveny.com/things-to-do/fall/foliage-report/") https://www.iloveny.com/things-to-do/fall/foliage-report/. 
                    span The report is updated weekly starting in mid-September.
        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: Will there be a coat check?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span Yes, there will be a coat check at the cocktail hour & reception.  Please note that the cocktail hour will be held outside -- appropriate outerwear is strongly suggested.  The ceremony and reception will be indoors.

        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: Can I take and post pictures of the wedding on social media?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span We ask that guests silence and put away their cell phones during the ceremony.  We have hired 2 professional photographers to capture those moments and we will share those photo on our website a few weeks after the wedding.  We encourage you to capture all other moments with photos and videos and post everything to the 
                        a(href="https://photos.app.goo.gl/dbLb6ACUTymHpe8D7") wedding album
                    span .  Don't forget the hashtag! 
                    strong.has-text-danger #theallisonsofbrooklyn
        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: Will transportation be provided?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span A 55 passenger shuttle will be provided to and from the Brooklyn Botanic Garden.  It will launch from the Hoxton Hotel im Williamsurg at 5:30PM.  Anyone in the Williamsburg/Greenpoint area is welcome to take the shuttle. It will return to the Hoxton Hotel immediately following the reception at 11:30PM -- within walking distance to the after party location. 
                    br
                    br
                    span Alternatively, NYC is an extremely accessible city.  Guests should feel free to take Uber, Lyft, taxis or the subway to all wedding events.  Unfortunately, there is no hosted transportation to the ceremony or brunch.
       
        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: What time should I show up for things?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span We ask that guests arrive to the ceremony around 12:15PM to allow for time for everyone to get settled before we begin. 
                    p The doors for the cocktail hour will open at 6:30PM sharp. Please be on time!
        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: What happens after the ceremony?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span Immediately following the ceremony, we would love to gather all our guests on the steps of the church for a quick group photo.  After that, you are free to do what you wish with your afternoon.  We will see you again at The Brooklyn Botanic Garden at 6:30PM for the cocktail hour!
        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: Aside from the ceremony, cocktail hour and reception, are there other wedding events I can attend?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span Yes, we will have an afterparty and post-wedding brunch and all are invited.  Please check the wedding schedule (link) for more details.

        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: Can I bring a guest?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span All guests are indicated on your invitation and through the website RSVP.  All are welcome to join for the ceremony, after party, and brunch.  The cocktail hour and reception are invite only.
        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: Are children welcome?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span While we love your little ones, our cocktail hour, reception & after party are going to be adult-only events so that everyone can relax and enjoy the evening.  We appreciate you making arrangements ahead of time and leaving the kids at home so you can celebrate with us.
                    p Children are welcome to attend the ceremony and brunch and must be accompanied by an adult who is able to escort them from the Church or brunch should they need.

        div.card
            header.card-header
                p.card-header-title.is-family-secondary Q: I'm looking for accommodations but I don't know my way around NYC.  What are the best neighborhoods?
            div.card-content
                div.content 
                    span.is-family-secondary.is-size-4 A: 
                    span We love the following neighborhoods and they are all very close by to the ceremony and reception:
                    ul
                        li
                            a(href="https://www.google.com/maps/place/Greenpoint,+Brooklyn,+NY/@40.7293685,-73.9633257,14z/data=!3m1!4b1!4m5!3m4!1s0x89c25948e1da58b3:0x720c87b2e954456e!8m2!3d40.7304701!4d-73.9515032") Greenpoint
                        li
                            a(href="https://www.google.com/maps/place/Williamsburg,+Brooklyn,+NY/@40.7115863,-73.9706811,14z/data=!3m1!4b1!4m5!3m4!1s0x89c25bfd06c12a41:0x8279f2291cc5d76c!8m2!3d40.7081156!4d-73.9570696") Williamsburg
                        li 
                            a(href="https://www.google.com/maps/place/Fort+Greene,+Brooklyn,+NY/@40.6898284,-73.9835653,15z/data=!4m5!3m4!1s0x89c25bb6d2f3f01f:0xbe7b4d1d50acf454!8m2!3d40.6920638!4d-73.9741874") Fort Greene
                        li 
                            a(href="https://www.google.com/maps/place/Clinton+Hill,+Brooklyn,+NY/@40.6887614,-73.9734033,15z/data=!3m1!4b1!4m5!3m4!1s0x89c25bbeaf88f7e9:0xdd6e1dbb5038d842!8m2!3d40.6896834!4d-73.9661144") Clinton Hill
