div#username.is-hidden #{config.name}
section.hero.is-fullheight(id="load-section")
	div.hero-body
		div.container.has-text-centered(id="start")
			h1.is-size-1.is-family-secondary(id="header")
			h1.is-size-1.is-text.is-loading(id="loading") 
			span(id="subtext")

div#playmodal.modal.has-text-centered.is-active
	div.modal-content
		button#play-button.button.is-large.is-loading
			span.icon
				i.fas.fa-play(id="play-icon")

nav.navbar.is-fixed-top.is-transparent.is-shadowless.is-hidden(id="top-nav" style='background:transparent')
	div.navbar-menu.is-shadowless.is-active(style='background:transparent')
		div.navbar-end.is-pulled-right
			div.navbar-item
				div.button.is-inverted.is-light(onclick="mute()") 
					span.icon
						i.fas.fa-volume-up(id="vol-icon")

section.hero.is-fullheight.is-hidden.is-shadowless(id="content")

nav.navbar.is-fixed-bottom.is-transparent.is-shadowless.is-hidden(id="bottom-nav" style='background:transparent')
	div.navbar-menu.is-shadowless.is-active(style='background:transparent')
		div.navbar-start
			div.navbar-item
				div.columns.is-fullwidth.is-hidden-tablet.is-hidden-desktop
					div.column.is-half.is-pulled-left
						div.has-text-light Click postcard to flip
				div.has-text-light.is-hidden-mobile Click postcard to flip


				